<%= form_for [@artist, @artist.songs.new] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :length %>
  <%= f.number_field :length %>

  <%= f.label :year %>
  <%= f.number_field :year %>

  <a href="javascript:;" id="add">Create</a>
<% end %>
