<div id="artist" data-artist-id="<%= "#{ @artist.id}" %>">

  <h1><%= "#{@artist.last_name}" %></h1>

  <p>First Name:  <%= @artist.first_name %></p>
  <p>Last Name:   <%= @artist.last_name %></p>
  <p>Genre:       <%= @artist.genre %></p>
  <p>Nationality: <%= @artist.nationality %></p>

  <h2>Compositions</h2>
    <% if @artist.songs.any? %>
      <div>
      <ul id="songs-list">
        <% @artist.songs.each do |song| %>
          <li class="composition"><%= "Name: #{song.name} - Length: #{song.length} - Year: #{song.year}"%>
            <a href="#" data-song-id=" <%= "#{song.id}" %>"  class="delete-song">
              Delete Composition
            </a>
          </li>
          <% end %>
      </ul>
    <% else %>
    <p>This Composer has not had any Songs added to his discography</p>
  <% end %>
</div>

  <br><br>
  <hr>
  <a href="javascript:;" id="delete-all-compositions">Delete all compositions</a>
  <br>
  <h2>Add a Composition</h2>
  <p><%= render "form" %></p>
</div>
