<h1><%= "#{@artist.last_name}" %></h1>

<p>First Name:  <%= @artist.first_name %></p>
<p>Last Name:   <%= @artist.last_name %></p>
<p>Genre:       <%= @artist.genre %></p>
<p>Nationality: <%= @artist.nationality %></p>
